.button1 {
    display: inline-block;
    background: #83939d;
    padding: 8px 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.button1:active {
    background: #4D7A57;
}

.back_button {
    position: absolute;
    width: 45px;
    height: 44px;
    margin-top: 1px;
    top: 0;
    left: 0;
    background: url(../img/left_arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.back_button:active {
    background-color: #008ed1;
}
.main_menu_button {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/icon_menu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45px;
    height: 44px;
    margin-top: 1px;
}
.main_menu_button:active {
    background-color: #008ed1;
}