body {
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: -4px;
    padding: 0px;
    width: 100%;
    direction: rtl;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
html {
    height: 100%;
}

#app_container {
    height: 100%;
    width: 100%;
    display: inline-block;
}
