#main_page {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow-y: hidden;
}
#netivoti_main_slider{
    max-height: 200px;
    height: auto !important;
}
#netivoti_main_slider_content{
    max-height: 200px;
    height: auto !important;
}
.main_photo_slide {
    height: 200px !important;
    position: relative;
}
.responsive_image{
    height:auto;
    width:100%;
}
.mainSliderCaption {
    direction: rtl;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #414141;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
}

.main_page_pagination{
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 30px;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-active-switch {
    background: #fff;
}