.pages_container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* Slide Left */
.page_before_slide_left {
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 0;
}
.slide_left {
    /*-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-right: 100% !important;*/
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

/* Slide Right */
.page_before_slide_right {
    position: absolute;
    left: -100%;
    top: 0;
    margin-top: 0;
}
.slide_right {
    /*-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-right: -100% !important;*/
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
