.top_title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    background-image: url("../img/icon.png");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: 47% 50%;
}

#main_title
{

}

.nav_bar_background
{
    height: 45px;
    margin: 0;
    padding: 0px 0px;
    position: relative;
    background: #343434; /* Old browsers */
    background: -moz-linear-gradient(top, #343434 0%, #292929 44%, #1a1a1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(44%,#292929), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #343434 0%,#292929 44%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #343434 0%,#292929 44%,#1a1a1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #343434 0%,#292929 44%,#1a1a1a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #343434 0%,#292929 44%,#1a1a1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
}

.title_bar_back
{
    background: #252425;
    display: inline-block;
    width: 100%;
}

.news_title_class
{
    font-size: 15px;
    color: #ffffff;
    padding: 0px;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url(../img/left-arrow2.png);
    background-repeat: no-repeat;
    background-position: 1% 50%;
    background-size: 15px;
    text-align: center;
    width: 100%;
    position: relative;
    height: 33px;
    line-height: 33px;
    margin-top: -3px;
}

.news_title_class:active {
    background-color: #111111;

}

.left_arr_main
{
    display: inline-block;
    background-image: url(../img/left-arrow2.png);
    background-repeat: no-repeat;
    background-position: 10% 60%;
    background-size: 10px;
    height: 30px;
    width: 20px;
}

.direct_contact_wrap
{
    background-color: rgb(167, 169, 169);
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
}

.direct_contact_biz_wrap
{
    background-color: white;
    background-image: url('../img/bphone.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    border-bottom: 1px solid #C7C7C7;
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
}

.direct_contact_links_wrap
{
    background-color: white;
    background-image: url('../img/left-arrow2.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
    border-bottom: 1px solid #C7C7C7;
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
}
