.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    direction: ltr;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}